*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

path,
i,
svg {
  pointer-events: none;
}

img {
  width: 100%;
  height: auto;
}

body {
  min-width: $mobile-width;
  margin: 0 auto;

  font-weight: 500;
  font-size: var(--text-size);
  line-height: var(--text-lh);
  font-family: $font;
  color: rgb(51, 51, 51);
  word-break: break-word;

  background-color: $main-bg-color;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  // http://clagnut.com/blog/2395
  // https://habr.com/ru/post/445166/
  hyphens: auto;

  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-last: always;
  hyphenate-limit-lines: 2;
  hyphenate-limit-zone: 8%;
}

.colors {
  min-height: 80vh;
  display: flex;
  color: rgb(212, 212, 212);
}

.color {
  height: 80vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}

.color h2 {
  font-size: 2rem;
  cursor: pointer;
}

.sliders {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  background: rgb(255, 255, 255);
  //opacity: 0;
  padding: 1rem;
  width: 80%;
  border-top-right-radius: 1rem;
  //pointer-events: none;
  border-top-left-radius: 1rem;
  ///* We are adding an adjustemnt class */
  //transform: translateY(100px);
  transition: all 0.5s ease-in-out;
}

.sliders.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

.sliders button,
.close-save,
.close-library {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: none;
  background: rgb(73, 73, 73);
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.controls {
  display: flex;
  flex-direction: column;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 20vh;
}

.panel button {
  font-size: 1.2rem;
  margin: 1rem;
  padding: 1rem 2rem;
  background: rgb(31, 33, 63);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 1rem;
}

.panel p {
  font-size: 1.2rem;
}

.library-panel,
.generate-panel,
.save-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adjust,
.lock {
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer;
  margin: 2rem 0;
}

input[type="range"] {
  appearance: none;
  margin: 1rem 0;
  width: 100%;
  position: relative;
  border-radius: 1rem;
  cursor: pointer;
}
//.svg-test {
//  fill: black;
//  stroke: green;
//}
//
//.test-checkbox {
//  position: relative;
//  appearance: none;
//  //width: 30px;
//  //height: 30px;
//  //background-color: black;
//  //vertical-align: middle;
//
//  &::before {
//    content: '';
//    display: block;
//    width: 100px;
//    height: 100px;
//
//    background: svg-load('../img/Anime_stub_2.svg');
//  }
//
//  &:checked {
//    &::before {
//      background: svg-load('../img/Anime_stub_2.svg', fill=red);
//    }
//  }
//}
