//- Все примеси в этом файле должны начинаться c имени блока (colors)

mixin colors(classes)

  //- Принимает:
  //-   classes    {string} - список классов
  //- Вызов:
        +colors('some-class')

  -
    // список классов
    let allClasses = '';
    if(typeof(classes) !== 'undefined' && classes) {
      for (let item of classes.split(',')) {
        allClasses = allClasses + item.trim();
      }
    }

  section(class=`${allClasses.length > 0 ? `${allClasses}` : ``}colors`)&attributes(attributes)
    .colors__item
      h2.colors__title Hex
      .colors__controls
        +btn('', 'colors__btn btn--adjust')
          svg(width='32', height='32')
            use(xlink:href='img/sprite.svg#icon-adjust')
        +btn('', 'colors__btn btn--lock')
          svg(width='32', height='32')
            use(xlink:href='img/sprite.svg#icon-lock')
      .colors__sliders
        +btn('X', 'btn--close')
        +field-range({
          label: 'Hue',
          side: 'up',
          attrs: {
            mod: 'hue',
            min: '0',
            max: '360',
            step: '1',
            name: 'hue',
            dataHue: '0'
          }
        })
        +field-range({
          label: 'Brightness',
          side: 'up',
          attrs: {
            mod: 'brightness',
            min: '0',
            max: '1',
            step: '0.01',
            name: 'brightness',
            dataBright: '0'
          }
        })
        +field-range({
          label: 'Saturation',
          side: 'up',
          attrs: {
            mod: 'saturation',
            min: '0',
            max: '1',
            step: '0.01',
            name: 'saturation',
            dataSat: '0'
          }
        })
    .colors__item
      h2.colors__title Hex
      .colors__controls
        +btn('', 'colors__btn btn--adjust')
        +btn('', 'colors__btn btn--lock')
      .colors__sliders
        +btn('X', 'btn--close')
        +field-range({
          label: 'Hue',
          side: 'up',
          attrs: {
            mod: 'hue',
            min: '0',
            max: '360',
            step: '1',
            name: 'hue',
            dataHue: '1'
          }
        })
        +field-range({
          label: 'Brightness',
          side: 'up',
          attrs: {
            mod: 'brightness',
            min: '0',
            max: '1',
            step: '0.01',
            name: 'brightness',
            dataBright: '1'
          }
        })
        +field-range({
          label: 'Saturation',
          side: 'up',
          attrs: {
            mod: 'saturation',
            min: '0',
            max: '1',
            step: '0.01',
            name: 'saturation',
            dataSat: '1'
          }
        })
    .colors__item
      h2.colors__title Hex
      .colors__controls
        +btn('', 'colors__btn btn--adjust')
        +btn('', 'colors__btn btn--lock')
      .colors__sliders
        +btn('X', 'btn--close')
        +field-range({
          label: 'Hue',
          side: 'up',
          attrs: {
            mod: 'hue',
            min: '0',
            max: '360',
            step: '1',
            name: 'hue',
            dataHue: '2'
          }
        })
        +field-range({
          label: 'Brightness',
          side: 'up',
          attrs: {
            mod: 'brightness',
            min: '0',
            max: '1',
            step: '0.01',
            name: 'brightness',
            dataBright: '2'
          }
        })
        +field-range({
          label: 'Saturation',
          side: 'up',
          attrs: {
            mod: 'saturation',
            min: '0',
            max: '1',
            step: '0.01',
            name: 'saturation',
            dataSat: '2'
          }
        })
    .colors__item
      h2.colors__title Hex
      .colors__controls
        +btn('', 'colors__btn btn--adjust')
        +btn('', 'colors__btn btn--lock')
      .colors__sliders
        +btn('X', 'btn--close')
        +field-range({
          label: 'Hue',
          side: 'up',
          attrs: {
            mod: 'hue',
            min: '0',
            max: '360',
            step: '1',
            name: 'hue',
            dataHue: '03'
          }
        })
        +field-range({
          label: 'Brightness',
          side: 'up',
          attrs: {
            mod: 'brightness',
            min: '0',
            max: '1',
            step: '0.01',
            name: 'brightness',
            dataBright: '3'
          }
        })
        +field-range({
          label: 'Saturation',
          side: 'up',
          attrs: {
            mod: 'saturation',
            min: '0',
            max: '1',
            step: '0.01',
            name: 'saturation',
            dataSat: '3'
          }
        })
    .colors__item
      h2.colors__title Hex
      .colors__controls
        +btn('', 'colors__btn btn--adjust')
        +btn('', 'colors__btn btn--lock')
      .colors__sliders
        +btn('X', 'btn--close')
        +field-range({
          label: 'Hue',
          side: 'up',
          attrs: {
            mod: 'hue',
            min: '0',
            max: '360',
            step: '1',
            name: 'hue',
            dataHue: '4'
          }
        })
        +field-range({
          label: 'Brightness',
          side: 'up',
          attrs: {
            mod: 'brightness',
            min: '0',
            max: '1',
            step: '0.01',
            name: 'brightness',
            dataBright: '4'
          }
        })
        +field-range({
          label: 'Saturation',
          side: 'up',
          attrs: {
            mod: 'saturation',
            min: '0',
            max: '1',
            step: '0.01',
            name: 'saturation',
            dataSat: '4'
          }
        })
