// В этом файле должны быть стили для БЭМ-блока field-range, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.field-range {
  display: flex;
  flex-direction: column;
}

.field-range__name {
  margin-bottom: 1rem;
}

.field-range__input {
  appearance: none;
  border-radius: 1rem;
  cursor: pointer;
}
