extends ../pug/layout.pug

block meta
  title Colors
  meta(name='description', content='Цветовая палитра')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')
  link(rel='preload', href='fonts/Poppins-Medium.woff2', as='font', crossorigin='anonymous')
    link(rel='preload', href='fonts/Poppins-Regular.woff2', as='font', crossorigin='anonymous')

block header
  h1.visually-hidden Цветовая палитра

block content
  +colors()
    +color('colors__item')
      +sliders('color__sliders', '0')
    +color('colors__item')
      +sliders('color__sliders', '1')
    +color('colors__item')
      +sliders('color__sliders', '2')
    +color('colors__item')
      +sliders('color__sliders', '3')
    +color('colors__item')
      +sliders('color__sliders', '4')
  +panel()
  +modal()(class='modal--copy')
    +copy('modal__popup modal__popup--copy')
  +modal()(class='modal--save')
    +save('modal__popup modal__popup--save')
  +modal()(class='modal--lib')
    +library('modal__popup modal__popup--lib')

block footer

  block append page-bottom
    script(src='https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.0/chroma.min.js', integrity='sha256-gX8uuyxN8stSMHWO9arnnKyenTOALaVAcVB3b6P87e4=', crossorigin='anonymous')
