extends ../pug/layout.pug

block meta
  title Colors
  meta(name='description', content='color palette')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')
  link(rel='preload', href='fonts/Poppins-Medium.woff2', as='font', crossorigin='anonymous')
    link(rel='preload', href='fonts/Poppins-Regular.woff2', as='font', crossorigin='anonymous')

block header
  h1.visually-hidden Color palette

block content
  +colors()
  +panel()
  +copy()
  +save()
  +library()

block footer

  block append page-bottom
    script(src='https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.0/chroma.min.js', integrity='sha256-gX8uuyxN8stSMHWO9arnnKyenTOALaVAcVB3b6P87e4=', crossorigin='anonymous')
