// В этом файле должны быть стили для БЭМ-блока library, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.library {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background-color: $main-bg-color;
  border-radius: 2rem;
}

.library__btn {
  position: absolute;
  top: 0;
  right: 0;
}

.library__palette {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 2rem;
}

.library__preview {
  display: flex;
  flex: 1;

  & div {
    height: 4rem;
    flex: 1;
  }
}

.library__name {
  flex: 1;
}

.library__palette-btn {
  height: 4rem;

  &:hover,
  &:focus {
    background-color: #d74646;
  }
}
